<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>

    <div class="row">
        <div class="col-sm-8">
            <div class="jumbotron">
                <h1>Dados da instancia</h1>
                <p>Colocar os dados da instancia executando o codigo.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="well">
                <h3>Instancia</h3>
                <% if( locals.strec2hostname !== null ) { %>
                    <p>Hostname: <%= locals.strec2hostaname %></p>
                <% } else {%>
                     <p> Hostname: Local</p>
                <% } %>
                
                <% if( locals.strec2hostaname !== null ) { %>
                    <p>ID: <%= locals.strinstanceID %></p>
                <% } else {%>
                     <p> ID: Local</p>
                <% } %>
                
                <% if( locals.strec2hostaname !== null ) { %>
                    <p>Region: <%= locals.strinstanceID %></p>
                <% } else {%>
                     <p> Region: Local</p>
                <% } %>
                
                <% if( locals.strec2hostaname !== null ) { %>
                    <p>Public IP: <%= locals.strec2pubip %></p>
                <% } else {%>
                     <p> Public IP: Local</p>
                <% } %>
                
                <% if( locals.strec2hostaname !== null ) { %>
                    <p>AMI: <%= locals.stramiid %></p>
                <% } else {%>
                     <p> AMI: Local</p>
                <% } %>
                
                
    
            </div>
        </div>
    </div>
</main>

</body>
</html>